// _colors.scss

// Basic Colors
$white: #FFFFFF;
$black: #000000;

// Font Colors
$font-main: #4C4C4C;
$font-secondary: #3C3C3C;
$font-tertiary: #737373;
$font-dark-blue: #00374E;
$font-blue: #00374F;
$font-dark-green: #36B6C7;
$font-pink: #F390A8;
$font-light-pink: #EC7E99;
$font-case-description: #3D3D3D;
$font-chip-pink: #E46B88;
$font-chip-dark-blue: #37B7C8;
$font-chip-blue: #6DC7D4;
$font-unknown-blue: #4B8AA4;

// Background Colors
$background-outline: #006999;
$image-background: #F9F9F9;
$outline-section: #F8F8F8;

// Button Colors
$button-header-dark-green: #508F59;
$button-header-green: #8ECB53;
$button-pink: #EC7E99;

// Divider Color
$divider: #707070;

// Outline Colors
$outline: #818181;
$outline-dark: #00374E;

// Miscellaneous Colors
$misc-white: #FCFCFC;
$misc-pink: #E56E8B;